@page
@using Microsoft.AspNetCore.Routing
@model IndexModel
@{
    var i = 1;
    int routeLastMonth;
    int routeLastYear;
    if (Model.Month == 1)
    {
        routeLastYear = Model.Year - 1;
        routeLastMonth = 12;
    }
    else
    {
        routeLastMonth = Model.Month - 1;
        routeLastYear = Model.Year;
    }
    int routeNextMonth;
    int routeNextYear;
    if (Model.Month == 12)
    {
        routeNextYear = Model.Year + 1;
        routeNextMonth = 1;
    }
    else
    {
        routeNextMonth = Model.Month + 1;
        routeNextYear = Model.Year;
    }
}
<link rel="stylesheet" href="~/css/calendar/index.css" />
<div class="d-flex justify-content-center">
    <div class="w-50 d-flex flex-column">
        <div class="d-flex justify-content-around mb-2">
            <a asp-route-year="@routeLastYear" asp-route-month="@routeLastMonth"><button type="button" class="btn btn-primary">Last month</button></a>
            <h1>@Model.Year @Model.GetMonthName()</h1>
            <a asp-route-year="@routeNextYear" asp-route-month="@routeNextMonth"><button type="button" class="btn btn-primary">Next month</button></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Mo</th>
                    <th scope="col" class="text-center">Tu</th>
                    <th scope="col" class="text-center">We</th>
                    <th scope="col" class="text-center">Th</th>
                    <th scope="col" class="text-center">Fr</th>
                    <th scope="col" class="text-center">St</th>
                    <th scope="col" class="text-center">Su</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var date in Model.Calendar)
                    {
                        <td class="text-center">
                                <div class="d-flex justify-content-right" @(date.Month != Model.Month ? "style=color:gray" : "")>
                                    <a class="link" asp-page="Notification" asp-route-year="@date.Year" asp-route-month="@date.Month" asp-route-day="@date.Day">
                                        @date.Day
                                    </a>
                                    @if (Model.Notifications.Any(n => n.Date.Day.Equals(date.Day) && n.Date.Month.Equals(date.Month) && n.Date.Year.Equals(date.Year)))
                                    {
                                        <span class="badge badge-pill badge-info ml-1">
                                            @Model.Notifications.Count(n => n.Date.Day.Equals(date.Day))
                                        </span>
                                    }
                                </div>
                            </td>
                            @if (i == 7)
                            {
                                i = 0;
                                @:</tr><tr>
                            }
                            i++;
                        }
                            @*else
                                {
                                @:</tr><tr>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-right">
                                            <a class="link" asp-page="Notification" asp-route-year="@date.Year" asp-route-month="@date.Month" asp-route-day="@date.Day">
                                                @date.Day
                                            </a>
                                            @if (Model.Notifications.Any(n => n.Date.Day.Equals(date.Day) && n.Date.Month.Equals(date.Month) && n.Date.Year.Equals(date.Year)))
                                            {
                                                <span class="badge badge-pill badge-info ml-1">
                                                    @Model.Notifications.Count(n => n.Date.Day.Equals(date.Day))
                                                </span>
                                            }
                                        </div>
                                    </td>
                                    i = 1;
                                }*@
                    </tbody>
            </table>
        </div>
    </div>

